body{
    background-image: url("soccer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.soccer_el{
    color: aliceblue;
    font-family:  Arial, sans-serif;
    font-size:xx-large;
    margin-top: 3%;  
    text-transform:uppercase;
    position: relative;
    animation: move-words 15s linear infinite;
    
  
    
}
@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}


.game{
    font-family: sans;
     font-weight: bold;
     color: white;
     width: 50%;
     background-color: #356847;
     padding-top: 100px;
     border-radius: 10px;
     padding-bottom:90px;
     border-radius: 10px;
    margin: 60px auto; 
    font-size: x-large;
}
.soc_el{
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: -90px;
    justify-content: space-between;
    
}
.container {
    display: flex;
    justify-content: space-between; /* Space between the player containers */
    gap: 20px;
    
    
}
.Player1, .Player2 {
    
    font-size: xx-large;
    margin-top: 10%;
    margin-bottom: 4px; /* Adjust margin as needed */
   
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    grid-column-gap: 300px;
   

}
.box{
    border-radius: 5px;
    padding: 40px; /* Padding inside the box */
    background-color: white; /* Background color */
    margin-left: 20%;
    margin-right: 20%;
    width: 90px;
}
.p1, .p2{
   color: #356847; 
    
}
.winner{
    font-size:xx-large;
    padding: 70px;
    width: 200px;
}
.player1-container, .player2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.score1-row, .score2-row{
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
    width: 90%;
    
    
}
.score1, .score2, .score11, .score22{
    font-size: large;
    border-radius: 10px;
    padding: 10px; /* Padding inside the box */
    background-color: black; /* Background color */
    color: white; /* Text color */
    margin: 10px; /* Margin for spacing between buttons */
    flex: 1; /* Make buttons flexible to take equal space */
    text-align: center;
    width: 90px;
    cursor: pointer; 
    border: none; 
    outline: none;
}
.score1:hover, .score2:hover, .score11:hover, .score22:hover {
    background-color: rgb(52, 56, 60); /* Change background color on hover */
}
.timer{
   font-size: xx-large;
   margin-top: 60px;
}
#soccer_el {animation: moving 5s infinite;}

@keyframes moving {
    from {top: 0px;}
    to {top: 200px;}
}
